<template>
  <div class="container">
    <chat-window
      :current-user-id="currentUserId"
      :rooms="rooms"
      :messages="messages"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ChatWindow from 'vue-advanced-chat'
import 'vue-advanced-chat/dist/vue-advanced-chat.css'
@Component( {
  components: {
    ChatWindow
  }
} )
export default class Index extends Vue {
  rooms: Array<unknown> = [{
    roomId: 1, roomName: 'Chat con Daniela',
    unreadCount: 1, lastMessage: {
      content: 'Hola tu', senderId: 2,
      username: 'Daniela', timestamp: '4:20',
      saved: true, seen: false, new: true
    },
    users: [
      {
        _id: 1, username: 'Danilo', status: {
          state: 'online', lastChanged: 'today, 4:21'
        }
      },
      {
        _id: 2, username: 'Daniela', status: {
          state: 'online', lastChanged: 'today, 3:21'
        }
      }
    ],
    typingUsers: [1]
  }]
  messages: Array<unknown> = []
  currentUserId: number = 1
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
